<!DOCTYPE html>
<html>
	<head>
		<title>legal - tvdesk</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="header">
			<h2>legal information</h2>
			<h4>the do's and don'ts</h4>
		</div>
		
		<div class="textblock">
			<p>
				<center><b>general</b><br></center>
				tvdesk.top offers a free (optionally paid) service to
				edit video content online. by using this software
				(referring to the website tvdesk.top and all subdomains)
				you agree to the <a href="#termsofservice">terms of service</a>.
			</p>

			<p id="termsofservice">
				<center><b>(illegal) content</b><br></center>
				use the tvdesk.top service only with content you own.
				tvdesk.top is not affiliated with any content it processes
				and works with. if the user submits any stolen, damaging or
				otherwise illegal content, he can and will be held fully
				liable for the content he directly or indirectly (allowed to be) submitted.
			</p>
			<p>
				<center><b>processed and produced content</b><br></center>
				the service offered by tvdesk.top allows the user to submit multiple
				urls to online (video) hosting services. every url is expected to reference
				a web resource in form of a video, which is (after the user submits the content)
				downloaded and saved to any device affiliated with the tvdesk.top service.
				the tvdesk.top service then begins processing the content submitted
				by the user of the service and produces new content in form of a video, which
				can be accessed (streamed and/or downloaded) by anyone with a valid access code.
				access restrictions (limited number of downloads and/or streams, etc.) to produced content
				can be altered any time and without any kind of notice to the user.
				by submitting content (in form of one or more urls) the user agrees that the content
				he submitted ("content" being the resource the submitted url refers and possibly redirects to)
				is owned only and completely by him, otherwise he (the user) is the first and only
				party held liable. the user is completely responsible for the submitted content.
				tvdesk.top claims no copyright or affiliation to the produced content. only the user
				is responsible for the input and output. being based on the input (which is, as agreed,
				fully owned by the user), the output is also fully owned by the user. the user, however,
				agrees that the output can be stored, modified, monetized, deleted and distributed freely
				by the tvdesk.top service. if the content is illegally stored, modified, monetized or
				distributed the user who submitted the content is held liable.
			</p>
			<p>
				<center><b>privacy and anonymity</b><br></center>
				no identifying user data is collected or stored. submitted content is processed as described
				in <b>processed and produced content</b>. this paragraph may be changed anytime without notifying
				the users directly. a visible notice on the main page of the website is necessarry.
			</p>
		</div>

		<input id="next" type="button" value="< Home">

		<footer>
			(c) christian schäl | <a href="/about">about</a> | <a href="/legal">legal</a> | <a href="/donate">donate</a>
		</footer>
	</body>
</html>
