<!DOCTYPE html>
<html>
	<head>
		<title>tvdesk.top</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div class="header">
			<h2>Processing...</h2>
			<h4>this may take a while</h4>
		</div>
		
		<div class="textblock">
			<p>
				<center><b>access code</b><br></center>
				your video will be only accessible with the correct
				access code. the code can not be recovered if lost!<br>
				<b>your code is</b> <a href="/process/{{accesscode}}">{{accesscode}}</a>
			</p>
			<p>
				<center><b>why does it take so long?</b><br></center>
				all submitted videos are downloaded in the best available quality and then
				processed with great quality in mind. however, many video hosting sites
				limit the speed at which a video can be downloaded or are simply slow.<br>
				if you wish, enter your email and we will notify you as soon as your video
				is ready to be watched
				<form action="/notify" method="post">
					<input type="text" name="email" placeholder="Your email...">
					<input type="submit" value="Notify me!">
				</form>
			</p>
		</div>

		<input id="next" type="button" value="< Home">
		
		<footer>
			(c) christian schäl | <a href="/about">about</a> | <a href="/legal">legal</a> | <a href="/donate">donate</a>
		</footer>
	</body>
</html>
